#mainNav{
    background: white;
}

.navbar, .navbar-collapse, .navbar-nav{
    font-weight: bold;
}

.masthead h1, .masthead .h1 {
    font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.8rem;
    line-height: 1.8rem;
    letter-spacing: 0.4rem;
    background: linear-gradient(rgba(0, 2, 0, 0.9), rgba(255, 255, 255, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
  }

  .masthead h2, .masthead .h2 {
    max-width: 5rem;
    font-size: .5rem;
  }
  /*@media (min-width: 768px) {
    .masthead h1, .masthead .h1 {
      font-size: 2rem;
      line-height: 2rem;
    }
  }
  @media (min-width: 992px) {
    .masthead {
      height: 100vh;
      padding: 0;
    }
    .masthead h1, .masthead .h1 {
      font-size: 3.5rem;
      line-height: 3.5rem;
      letter-spacing: 0.4rem;
    }
    .masthead h2, .masthead .h2 {
      max-width: 15rem;
      font-size: .25rem;
    }
  }*/

  .about-section h2, .about-section .h2{
    font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.8rem;
    background: linear-gradient(rgba(0, 2, 0, 0.9), rgba(255, 255, 255, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
  }
  .about-section {
    padding-top: 10rem;
  }
  .about-section p {
    margin-bottom: 5rem;
  }

  .main-section {
    padding: 10rem 0;
  }
  .main-section .featured-text {
    padding: 2rem;
  }
  /*@media (min-width: 992px) {
    .main-section .featured-text {
      padding: 0 0 0 2rem;
      border-left: 0.5rem solid #62dd2f;
    }
  }*/
  /*.main-section .project-text {
    padding: 3rem;
    font-size: 90%;
  }*/
  /*@media (min-width: 992px) {
    .main-section .project-text {
      padding: 5rem;
    }
  }*/

  .main-bg{
    background-color: #62dd2f;
  }

  .contact-section {
    padding-top: 5rem;
  }
  .contact-section .card {
    border: 0;
    border-bottom: 0.25rem solid #62dd2f;
  }
  .contact-section .card h4, .contact-section .card .h4 {
    font-size: 0.8rem;
    font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-transform: uppercase;
    letter-spacing: 0.15rem;
  }
  .contact-section .card hr {
    opacity: 1;
    border-color: #62dd2f;
    border-width: 0.25rem;
    width: 3rem;
  }
  .contact-section .social {
    margin-top: 5rem;
  }
  .contact-section .social a {
    text-align: center;
    height: 3rem;
    width: 3rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    line-height: 3rem;
    color: rgba(255, 255, 255, 0.3);
  }
  .contact-section .social a:hover {
    color: rgba(255, 255, 255, 0.5);
  }
  .contact-section .social a:active {
    color: #fff;
  }
  
  .footer {
    padding: 5rem 0;
  }

  /*Estilos del carousel*/
  @media (min-width: 768px) {
    .masthead h1, .masthead .h1 {
      font-size: 2rem;
      line-height: 2rem;
    }

    .carousel-item{
      height: 50vh;
    }

    .main-section .project-text {
      padding: 5rem;
    }
    
  }
  @media (min-width: 992px) {
    .masthead {
      height: 100vh;
      padding: 0;
    }
    .masthead h1, .masthead .h1 {
      font-size: 3.5rem;
      line-height: 3.5rem;
      letter-spacing: 0.4rem;
    }
    .masthead h2, .masthead .h2 {
      max-width: 15rem;
      font-size: .25rem;
    }
    .carousel-item{
      height: 100vh;
    }
    .main-section .featured-text {
      padding: 0 0 0 2rem;
      border-left: 0.5rem solid #62dd2f;
    }
    .main-section .project-text {
      padding: 3rem;
      font-size: 90%;
    }
  }

  /*loading*/
  #lastray {
    margin: auto;
    border-radius: 100%;
    border: 0px solid;
    border-color: var(--ray-color);
    opacity: 1;
    width: 0px;
    height: 0px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }

  #loading-page {
    background: black;
    border-radius: 100%;
    top: 50%;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 400vh;
    height: 400vh;
    position: fixed;
    overflow: hidden;
    transition-duration: 1s;
    z-index: 1000;
  }

  #loader {
    margin: auto;
    width: 100%;
    height: 100%;
    max-width: 200px;
    position: absolute;
    max-height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
  }

  .element {
    margin: auto;
    position: absolute;
  }

  .sphere {
    background: radial-gradient(circle, var(--main-color), var(--main-color-dark));
    width: 50px;
    height: 50px;
    border-radius: 100%;
    -webkit-animation: pump 4s infinite ease-in-out;
            animation: pump 4s infinite ease-in-out;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    box-shadow: 0px 0px 15px 0px #62dd2f;
  }

  .ray {
    margin: auto;
    border-radius: 100%;
    border: 5px solid;
    border-color: var(--ray-color);
    opacity: 1;
    width: 10px;
    height: 10px;
    -webkit-animation: ray 4s infinite ease-out;
            animation: ray 4s infinite ease-out;
    -webkit-animation-delay: 2.5s;
            animation-delay: 2.5s;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    box-shadow: 0px 0px 15px 0px #62dd2f;
  }

  .spark {
    width: 200px;
    height: 200px;
  }

  .particles {
    transform: translate(-50%, -50%);
  }

  .particle {
    background-color: var(--spark-color);
    width: 5px;
    height: 5px;
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: particle 1s infinite ease-in;
            animation: particle 1s infinite ease-in;
    left: 0%;
    top: 0%;
  }

  .spark1 {
    transform: rotate(20deg);
  }

  .spark2 {
    transform: rotate(40deg);
  }

  .spark3 {
    transform: rotate(66deg);
  }

  .spark4 {
    transform: rotate(172deg);
  }

  .spark5 {
    transform: rotate(110deg);
  }

  .spark6 {
    transform: rotate(130deg);
  }

  .spark7 {
    transform: rotate(-100deg);
  }

  .spark8 {
    transform: rotate(-50deg);
  }

  .spark9 {
    transform: rotate(-80deg);
  }

  .spark10 {
    transform: rotate(-173deg);
  }

  .spark11 {
    transform: rotate(-7deg);
  }

  .spark12 {
    transform: rotate(-133deg);
  }

  .particle1 {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
  }

  .particle2 {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
  }

  .particle3 {
    -webkit-animation-delay: 2.2s;
            animation-delay: 2.2s;
  }

  .particle4 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }

  .particle5 {
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }

  .particle6 {
    -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s;
  }

  .particle7 {
    -webkit-animation-delay: 2.5s;
            animation-delay: 2.5s;
  }

  .particle8 {
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s;
  }

  .particle9 {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }

  .particle10 {
    -webkit-animation-delay: 2.5s;
            animation-delay: 2.5s;
  }

  .particle11 {
    -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
  }

  .particle12 {
    -webkit-animation-delay: 1.7s;
            animation-delay: 1.7s;
  }

  .loaded {
    width: 0px !important;
    height: 0px !important;
    transition: 1.2s ease-out;
  }

  .whitebk {
    background: #fff !important;
  }

  .opzero {
    opacity: 0;
    transition: 1s ease-out;
  }

  .finalray {
    -webkit-animation: ray 2s ease-out;
            animation: ray 2s ease-out;
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
    border: 1px solid;
  }

  /*ANIMATIONS*/
  @-webkit-keyframes pump {
    0% {
      width: 50px;
      height: 50px;
    }
    83% {
      width: 88px;
      height: 88px;
    }
    85% {
      width: 90px;
      height: 90px;
    }
    100% {
      width: 50px;
      height: 50px;
    }
  }
  @keyframes pump {
    0% {
      width: 50px;
      height: 50px;
    }
    83% {
      width: 88px;
      height: 88px;
    }
    85% {
      width: 90px;
      height: 90px;
    }
    100% {
      width: 50px;
      height: 50px;
    }
  }
  @-webkit-keyframes ray {
    0% {
      width: 10px;
      height: 10px;
      opacity: 1;
      border-width: 1px;
    }
    100% {
      width: 200px;
      height: 200px;
      opacity: 0;
      border-width: 5px;
    }
  }
  @keyframes ray {
    0% {
      width: 10px;
      height: 10px;
      opacity: 1;
      border-width: 1px;
    }
    100% {
      width: 200px;
      height: 200px;
      opacity: 0;
      border-width: 5px;
    }
  }
  @-webkit-keyframes particle {
    0% {
      left: 0%;
      top: 0%;
      opacity: 0;
    }
    70% {
      opacity: 1;
    }
    100% {
      left: 50%;
      top: 50%;
      opacity: 1;
    }
  }
  @keyframes particle {
    0% {
      left: 0%;
      top: 0%;
      opacity: 0;
    }
    70% {
      opacity: 1;
    }
    100% {
      left: 50%;
      top: 50%;
      opacity: 1;
    }
  }